:root
{
    font-family: "Josefin Sans", sans-serif;
}

body
{
    margin: 0;
    background-color: rgb(51, 47, 65);
}

#backCover
{
    width: 100%;
    height: 50%;
}

.header
{
    position: absolute;
    z-index: 1;
}

#backCover p
{
    font-size: 3rem;
    color: white;
    left: 30%;
}

#backCover input
{
    left: 8%;
    top: 15%;
    width: 80%;
    background-color: #06214f;
    color: cyan;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    border: 0;
}

#backCover button
{
    z-index: 2;
    height: 2.6rem;
    width: 2.5rem;
    top: 15%;
    left: 82%;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 0 0.3rem 0.3rem 0;
    cursor: pointer; /* Makes cursor pointy */
}

#backCover img
{
    position: absolute;
    width: 100%;
    height: 50%;
}

#tasks
{
    position: absolute;
    background-color: #06214f;
    z-index: 1;
    top: 28%;
    left: 8%;
    min-height: 50vh;
    width: 84.5%;
    box-shadow: 0px 0px 20px 0px rgba(60, 56, 56, 0.623);
    border-radius: 0.5rem;
    /* overflow: ; */
}

#tasks ul
{
    margin: 0;
    background-color: #06214f;
    color: cyan;
    padding: 0;
    list-style: none;
    width: 100%;
    border-radius: inherit;
}

#tasks ul li
{
    padding: 0.9rem 1.1rem 0.9rem 1.1rem;
    cursor: pointer;
}

#tasks ul li:hover
{
    background-color: gray;
    border-radius: inherit;
}

#tasks i
{
    color: white;
}

@media screen and (min-width:500px)
{
    #backCover input
    {
        left: 30%;
        width: 38%;
    }

    #backCover button
    {
        left: 66.5%;
    }

    #tasks
    {
        left: 30%;
        width: 39%;
        /* overflow: ; */
    }
}